---
import Layout from '../layouts/MainLayout.astro';
---
<Layout
  title="Welcome to Maison"
  description="This is a small site to show the most powerful features of Netlify quickly!"
  home
>
  <main>

  </main>
</Layout>
