---
import Layout from "../layouts/MainLayout.astro";
import Logo from "../assets/logo.svg?component";
---

<Layout title="Maison" description="2nd home ownership, the smart way." home>
  <main
    class="min-h-screen bg-clay relative flex flex-col items-center justify-center overflow-hidden isolate p-4"
  >
    <div
      class="relative z-10 bg-white mx-auto max-w-xl w-full p-8 shadow-2xl rounded-lg"
    >
      <div class="flex flex-row justify-center items-center space-x-4 mb-8">
        <Logo class="h-16 text-fuchsia-600" />
        <div class="space-y-0 leading-5">
          <span
            class="font-display block uppercase tracking-widest text-3xl font-normal"
          >
            Maison
          </span>
          <span
            class="text-fuchsia-600 font-display block uppercase tracking-widest text-xs font-normal"
          >
            Smart Ownership
          </span>
        </div>
      </div>

      <h1 class="mb-8 text-lg font-semibold text-center">
        I own or want to own...
      </h1>

      <div
        class="w-full space-y-4 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:space-y-0"
      >
        <a
          class="rounded-lg border border-fuchsia-200 px-8 py-6 flex items-center justify-center text-center hover:border-gray-700 text-fuchsia-700 hover:text-gray-900"
          href="/thanks"
          id="option-1"
        >
          One Home
        </a>
        <a
          class="rounded-lg border border-fuchsia-200 px-8 py-6 flex items-center justify-center text-center hover:border-gray-700 text-fuchsia-700 hover:text-gray-900"
          href="/home"
          id="option-2"
        >
          2+ Homes
        </a>
      </div>
    </div>

    <img
      class="absolute inset-0 h-full w-full object-cover"
      src="https://images.unsplash.com/photo-1559767949-0faa5c7e9992?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80"
      alt=""
    />
  </main>
</Layout>
