<footer class="footer">
    <nav>
        <ul>
            <li>
                <a class="footer-link" href="https://www.netlify.com/trust-center/">Trust Center</a>
            </li>
            <li>
                <a class="footer-link" href="https://www.netlify.com/privacy/">Privacy</a>
            </li>
            <li>
                <a class="footer-link" href="https://www.netlify.com/security/">Security</a>
            </li>
            <li>
                <a class="footer-link" href="https://www.netlify.com/gdpr-ccpa/">GDPR/CCPA</a>
            </li>
            <li>
                <a class="footer-link"
                   href="mailto:fraud@netlify.com?subject=Abuse%20report&body=Please%20include%20the%20site%20URL%20and%20reason%20for%20your%20report%2C%20and%20we%20will%20reply%20promptly."
                   target="_blank" rel="noopener noreferrer">Abuse</a>
            </li>
        </ul>
    </nav>
</footer>