<div
  class="absolute z-10 top-4 left-4 right-4 lg:top-16 lg:left-16 sm:right-auto"
>
  <p
    class="p-2 border border-white/50 rounded-full text-xs text-white font-medium text-center sm:px-5 sm:py-2.5 xl:text-sm"
  >
    Sign up now to join our Private Alpha &mdash; limited spots available!
  </p>
</div>
