---
import Faqs from '../components/Faqs.vue'
---
<div>
    <h2 class="text-2xl font-semibold tracking-tight sm:text-3xl">
        Frequently asked questions
    </h2>

    <Faqs client:load />
</div>