<div>
    <h2 class="text-2xl font-semibold tracking-tight sm:text-3xl">
        How it works
    </h2>

    <ol class="space-y-4 text-base leading-7 text-gray-800 lg:max-w-none mt-8 lg:text-lg lg:mt-16">
        <li class="relative flex flex-row justify-start items-start">
            <div class="ml-9 inline-flex font-semibold text-white">
                <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <p class="inline-flex">Get connected with our team.</p>
        </li>
        <li class="relative flex flex-row justify-start items-start">
            <div class="ml-9 inline-flex font-semibold text-white">
                <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <p class="inline-flex">We’ll follow up to hear your needs and evaluate fit.</p>
        </li>
        <li class="relative flex flex-row justify-start items-start">
            <div class="ml-9 inline-flex font-semibold text-white">
                <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <p class="inline-flex">Get connected buyers / sellers.</p>
        </li>
        <li class="relative flex flex-row justify-start items-start">
            <div class="ml-9 inline-flex font-semibold text-white">
                <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <p class="inline-flex">Facilitate the transaction with our legal and real estate teams.</p>
        </li>
        <li class="relative flex flex-row justify-start items-start">
            <div class="ml-9 inline-flex font-semibold text-white">
                <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <p class="inline-flex">Support the ownership experience with our property management
                team.</p>
        </li>
    </ol>
</div>